body {
  background-color: #90A5A2;
}

.App-main {
  margin: 0 auto;
  display: grid;
  width: 65%;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
    "header header"
    "nav content";
}

.App-content {
  grid-area: content;
  background-color: azure;
}

@media screen and (max-width: 900px) {
  .App-main {
    width: auto;
  }
}